.butt {
  cursor: pointer;
  border-radius: 3px;
}

.butt:disabled {
  cursor: not-allowed;
}

.butt.butt-primary {
  border: 1px solid rgb(140, 120, 180);
  background-color: rgb(100, 60, 180);
  color: white;
}

.butt.butt-primary:hover {
  background-color: rgb(110, 70, 190);
}

.butt.butt-primary:disabled {
  background-color: rgb(140, 120, 180);
  color: #ccc;
}

.butt.butt-gray {
  border: 1px solid rgb(200, 200, 200);
  background-color: rgb(150, 150, 150);
  color: #fff;
}

.butt.butt-gray:hover {
  background-color: rgb(170, 170, 170);
}

.butt.butt-gray:disabled {
  background-color: rgb(200, 200, 200);
  color: #555;
}
