.apex {
}

.legends {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.legend-wrapper {
    border-radius: 3px;
    margin: 0.25rem;
    position: relative;
}

.legend-wrapper img {
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.legend-wrapper.banned:before {
    opacity: 0.2;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: '';
}

.legend-wrapper.picked:before {
    opacity: 0.2;
    background-color: gold;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: '';
}