.apex {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legends {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.legend-wrapper {
    flex: 0 0 25%;
    border-radius: 3px;
    padding: 0.25rem;
    position: relative;
    cursor: pointer;
}

.legend-wrapper img {
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.legend-wrapper.hovered {
    box-shadow: 0 0 10px -1px rgb(49, 247, 247);
}

.legend-wrapper.banned:before {
    opacity: 0.2;
    background-color: darkred;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
    display: block;
    content: '';
}

.legend-wrapper.banned:hover::before {
    background-color: red;
}

.legend-wrapper:hover:not(.banned):before {
    opacity: 0.1;
    background-color: white;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
    display: block;
    content: '';
}

.legend-wrapper.picked {
    box-shadow: gold 0 0 40px -10px;
}

.apex-button {
    z-index: 100;
    position: relative;
    padding: 0.5rem 5rem;
    border-radius: 0;
    border: 1px solid whitesmoke;
    background: rgb(22, 37, 126);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    margin-bottom: 1rem;
}

.apex-button:disabled {
    background: rgb(50, 70, 150);
    color: whitesmoke;
    cursor: not-allowed;
}

.apex-button.reset {
    background: rgb(133, 22, 22);
}

@media (min-width: 1000px) {
    .legend-wrapper {
        flex: 0 0 15%;
    }
}