html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #2f2f2f;
}

.app {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.butt {
  border: 1px solid rgb(140, 120, 180);
  background-color: rgb(100, 60, 180);
  color: white;
  cursor: pointer;
}

.butt:hover {
  background-color: rgb(110, 70, 190);
}

.butt:disabled {
  background-color: rgb(80, 40, 160);
  color: #ccc;
  cursor: not-allowed;
}
