html,
body,
#root,
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  background-color: #2f2f2f;
}

.app {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.butt {
  border: 1px solid rgb(143, 120, 183);
  background-color: rgb(103, 58, 183);
  color: white;
  cursor: pointer;
}

.butt:hover {
  background-color: rgb(120, 86, 181);
}
