.container {
  position: relative;
  padding: 1rem;
}

.wheel--arrow {
  position: relative;
  text-align: center;
  height: 0;
  z-index: 30;
}

.wheel--arrow::after {
  content: "";
  display: inline-block;
  border-top: 30px solid #fff;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
}

.wheel--container {
  box-sizing: border-box;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #888;
  color: #777;
  border: 6px solid #fff;
  height: 7rem;
  position: relative;
}

.wheel {
  width: 100%;
  height: calc(7rem - (2 * 6px));
  display: inline-flex;
  position: relative;

  animation: slide 0.2s linear infinite;
  animation-play-state: paused;
}

.wheel__empty {
  width: 100%;
  padding-top: 3rem;
  height: 1rem;
  text-align: center;
  color: #bbb;
}

.wheel__segment {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex: 1 0 0;
  border: 4px solid;
}

.wheel__segment:hover {
  border-color: rgba(255, 255, 255, 0.25) !important;
}

.wheel--container.spin .wheel {
  animation-play-state: running;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.wheel--controls {
  font-size: 16px;
  padding: 0.5rem;
}

.wheel--controls form {
  display: inline-block;
}

.wheel--controls input {
  padding: 0.5rem 1rem;
}

.wheel--controls .butt:not(:last-child),
.wheel--controls form .butt,
.wheel--controls form input {
  margin-right: 0.5rem;
}

.wheel--controls .butt {
  padding: 0.5rem 2rem;
}

.wheel--controls input,
.wheel--controls .butt {
  font-size: inherit;
}
