.container {
  position: relative;
}

.wheel--arrow {
  position: relative;
  text-align: center;
  height: 0;
  z-index: 30;
}

.wheel--arrow::after {
  content: "";
  display: inline-block;
  border-top: 30px solid #fff;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  margin-left: -15px;
}

.wheel--container {
  overflow-x: hidden;
  white-space: nowrap;
  margin: 0 0 1rem 0;
  background-color: #eee;
  color: #777;
  border: 6px solid #fff;
  border-left: none;
  border-right: none;
  margin-bottom: -1px;
  height: 7rem;
  position: relative;
  z-index: 10;
  animation: slide 0.2s linear infinite;
  animation-play-state: paused;
}

.wheel {
  width: 100vw;
  height: 7rem;
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
}

.wheel__empty {
  width: 50vw;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: #ddd;
}

.wheel__segment {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: white;
  border: 4px solid;
}

.wheel__segment:hover {
  border-color: rgba(255, 255, 255, 0.25) !important;
}

.wheel--container.spin {
  animation-play-state: running;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

.wheel--controls {
  z-index: 9;
  position: relative;
  font-size: 16px;
  padding: 0.5rem;
  margin: 0 1rem;
  height: 3rem;
  display: inline-flex;
  align-items: stretch;
}

.wheel__menu-form {
  display: flex;
  align-items: stretch;
}

.wheel--controls input {
  padding: 0.5rem 1rem;
}

.wheel--controls .butt:not(:last-child),
.wheel--controls form .butt {
  margin-right: 0.5rem;
}

.wheel--controls .butt {
  padding: 0.5rem 2rem;
}

.wheel__menu-form input {
  font-size: inherit;
}

.wheel__menu-form .butt {
  font-size: inherit;
}
