.wheel--container {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.wheel {
  position: relative;
  min-height: 200px;
  flex-direction: column;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  display: flex;
  border: 6px solid #777;
}

.wheel__empty {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.2;
  transform: translate(-50%, -50%);
}

.wheel__segment {
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: white;
  border: 4px solid;
}

.wheel__segment.selected {
  border-color: white !important;
}

.wheel__menu {
  border: 1px solid slategray;
  padding: 1rem;
  margin-top: 1rem;
}

@media (min-width: 600px) {
  .wheel--container {
    flex-direction: row;
  }

  .wheel {
    flex-basis: 33%;
  }

  .wheel__menu {
    flex-basis: 66%;
    margin-top: 0;
    margin-left: 1rem;
  }
}
